<a href="https://colab.research.google.com/github/manasohara1/Python-/blob/main/Data_Structure__and_Control_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Tuple**
### A Tuple is similar to that of list with the differenece that , we can't change elements of a tuple once it's assigned
### A  Tuple i scretaed by using rounded paranthesis() seperating the elements with ,
### it can store any type of data
### For e.g,

In [ ]:
tuple_ds=()
type(tuple_ds)
tuple_ds=(1,2,3,4)
print(tuple_ds)
#Accessing tuple
tuple_ds=(1,2,3,4,5,'manas',6.9)
print(tuple_ds)
for t in tuple_ds:
  print(t)
print(tuple_ds[0])
print(tuple_ds[:])
print(tuple_ds[5][4])
tuple_ds=tuple_ds+(23,24)
print(tuple_ds)
nesttuple=(12,14,15,[50,80,70],'Good afternoon')
nesttuple
nesttuple[3][1]=100
deltuple=(1,2,3,4,5)
del deltuple
#print(deltuple)

(1, 2, 3, 4)
(1, 2, 3, 4, 5, 'manas', 6.9)
1
2
3
4
5
manas
6.9
1
(1, 2, 3, 4, 5, 'manas', 6.9)
s
(1, 2, 3, 4, 5, 'manas', 6.9, 23, 24)

##**Dictionary**
## A Dictionary is created by using curly brackets{} it consisits of key value pair it is an unordered collection of items. The values can be any data type and can repeat. However, keys must be of immutable type and must be unique
##For e.g,

In [ ]:
dict1={}
print(dict1)
dict1={1:"India",2:"Russia",3:"Korea",4:"Japan",5:"Canada"}
print(dict1)
dict1[3]='DMK'
print("After Chnaging value : "+str(dict1))
dict1.keys()
dict1.values()
#Accessing
dict2={'Kawasaki':'Z650','RE':'INT650','Ducati':'PanigaleV4'}
print(dict2['Kawasaki'])
dict2.items()
#Deeleting
popedvalue=dict1.pop(5)
popedvalue
popkeyalue=dict1.popitem()
popkeyalue
dict1.clear()
print('ndict',dict1)

{}
{1: 'India', 2: 'Russia', 3: 'Korea', 4: 'Japan', 5: 'Canada'}
After Chnaging value : {1: 'India', 2: 'Russia', 3: 'DMK', 4: 'Japan', 5: 'Canada'}
Z650
ndict {}

## **Set:**
     
####    A Set is immutable . It's a unique collection of elements. However, as a whole set is mutable that is we can add and remove elements. There're two ways of creating sets by using {} and by using set() function.

#### For e.g,

In [ ]:
set1={1,2,3,4,5,6,6}
set1
type(set1)
set2={i for i in range(1,11)} #comprehension
set2
set1.remove(5)
print("After removing element from set \n Updated set is : \t "+str(set1))
#Operations
set1={i for i in range(1,43) if i%2==0}
set2={i for i in range(1,51)}
print("Set1 : "+str(set1))
print("Set2 : "+str(set2))
print("Union of set1 & set2 : "+str(set1.union(set2)))
print("Intersection of set1 & set2 : "+str(set1.intersection(set2)))

After removing element from set
 Updated set is : 	 {1, 2, 3, 4, 6}
Set1 : {2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42}
Set2 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}
Union of set1 & set2 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}
Intersection of set1 & set2 : {2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42}

## **LAB-ON-PYTHON-AI-3-8-12-2021**
### **Tuple**
####1. From Learn Python in 7 days--- from pages 70 to 77, from pages 102 to 118 solve the examples

In [ ]:
avnegers=('Ironman','Thor','Hulk','Captain America','Spiderman')
avnegers[1:4]
#Unpacking
tup1=(1,2,3)
a,b,c=tup1
print(a,b,c)
len(avnegers)
t1=(76,78,90,56,55)
max(t1)
min(t1)
str1="Manas"
print(tuple(str1))
del tup1
t1=(1,2,3,4,5,6)
t2=(4,5,6,8,10)
t1+t2

1 2 3
('M', 'a', 'n', 'a', 's')

(1, 2, 3, 4, 5, 6, 4, 5, 6, 8, 10)

##  **Dictionary**

In [ ]:
Port = {80: "HTTP", 23 : "Telnet", 443 : "HTTPS"}
Port[80]
del Port[23]
Port
Port[110]='POP'
Port
print(len(Port))
print(str(Port))
print(max(Port))
print(min(Port))
key=int(input("Enter key"))
if key in Port:
  print("YES")
else:
  print("NO")
Port
Port1=Port.copy()
Port1
Country={
    1:'Russia',
    2:'China',
    3:'India',
    4:'USA'
}
Country.get(1)
Port1.keys()
Port1.values()
Port1.items()
list1=[1,2,3]
list2=["a","b","c"]
dict1=dict([k for k in zip(list1,list2)])
dict1

3
{80: 'HTTP', 443: 'HTTPS', 110: 'POP'}
443
80
Enter key1
NO

AttributeError: ignored

2. Write a menu driven program to show operation on Dictionary and List operation such as:
Create
Append
Delete
Modify and take input from user

In [ ]:
d = {}
while True:
    print("OPERATIONS ON DICTIONARY\n1.Create element\n2.Append Element\n3.Delete Element\n4.Update Element\n5.Exit\n\n")
    n=int(input("Enter choice :"))
 
    if n == 1:
        a=input("Enter Key :")
        b=input("Enter value: ")
 
        d[a]=b
        print(d)
 
    elif n==2:
        a = input("Enter Key :")
        b = input("Enter value: ")
 
        d[a] = b
        print(d)
 
    elif n==3:
        a = input("Enter Key of Element you want to delete:")
        d.pop(a)
        print(d)
        
    elif n==4:
        a = input("Enter Key of Element you want to update:")
        b = input("Enter value:")
        d[a]=b 
        print(d)

    elif n==5:
      exit

OPERATIONS ON DICTIONARY
1.Create element
2.Append Element
3.Delete Element
4.Update Element
5.Exit


{'1': 'Manas'}
OPERATIONS ON DICTIONARY
1.Create element
2.Append Element
3.Delete Element
4.Update Element
5.Exit


{'1': 'Manas', '2': 'Kashmira'}
OPERATIONS ON DICTIONARY
1.Create element
2.Append Element
3.Delete Element
4.Update Element
5.Exit


{'1': 'Manas', '2': 'Kashmira', '3': 'Madhuri'}
OPERATIONS ON DICTIONARY
1.Create element
2.Append Element
3.Delete Element
4.Update Element
5.Exit


OPERATIONS ON DICTIONARY
1.Create element
2.Append Element
3.Delete Element
4.Update Element
5.Exit


OPERATIONS ON DICTIONARY
1.Create element
2.Append Element
3.Delete Element
4.Update Element
5.Exit

## 3. Remove duplicates from a list.

In [ ]:
test_list = [1, 3, 5, 6, 3, 5, 6, 1]
print ("The original list is : " +  str(test_list))
res = []
[res.append(x) for x in test_list if x not in res]
# printing list after removal 
print ("The list after removing duplicates : " + str(res))

The original list is : [1, 3, 5, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

## 4. Display a list of even numbers between 1 to 100.

In [ ]:
even_numbers_list=[i for i in range(1,101) if i%2==0]
print("List of even numbers is : "+str(even_numbers_list))

List of even numbers is : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

## 5. [1,4,6,7,9,0] Display the elements from the index as per the following.
## a) First three elements
## b) Elements omitting the first and last elements
## c) Last element
## d) Sort the list in the descending order.

In [ ]:
list1=[1,4,6,7,9,0] 
list1[:3]
list1[1:-1:]
list1[-1]
list1.sort(reverse=True)
list1

[9, 7, 6, 4, 1, 0]

6. Merge the given two dictionaries in one {&#39;a&#39;:1,&#39;c&#39;:3}, {&#39;b&#39;:2,&#39;e&#39;:5,&#39;d&#39;:4}.

In [ ]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
dict1={'a':1,'c':3}
dict2={'b':2,'e':5,'d':4}
Merge(dict1,dict2)
print("Merged Dictionary : "+str(dict2))

Merged Dictionary : {'b': 2, 'e': 5, 'd': 4, 'a': 1, 'c': 3}

# 7. Sort a tuple which is having elements (4,5,2,7,1,9,3).

In [ ]:
unsorted_tuple=(4,5,2,7,1,9,3)
unsorted_list=list(unsorted_tuple)
sorted_list=unsorted_list.sort()
print(unsorted_list)

[1, 2, 3, 4, 5, 7, 9]

8. Get the intersection of two lists. [1,2,3,4,5,6] and [3,4,5,6,7,8].

In [ ]:
list1= {1,2,3,4,5,6} 
list2= {3,4,5,6,7,8}
print("Intersection of list1 & list2 is : "+str(list1.intersection(list2)))

Intersection of list1 & list2 is : {3, 4, 5, 6}

9. Create Menu Driven Programme :( Use Dictionary, while, else, if)
Print “1. Add student&quot;
Print &quot;2. Remove student&quot;
Print &quot;3. Print grades&quot;
Print &quot;4. Record grade&quot;
Print &quot;5. Print Menu&quot;
Print &quot;6. Exit&quot;

In [ ]:
#9
i = 1
menu = {
        1:"Add Student",
        2:"Remove Student",
        3:"Print Grades",
        4:"Record Grade",
        5:"Print Menu",
        6:"Exit"
        
        }

while i!=6:
    i = int(input("Enter Your Choice : "))
    print(menu[i])

Enter Your Choice : 2
Remove Student
Enter Your Choice : 3
Print Grades
Enter Your Choice : 0

KeyError: ignored

10. Create and display a simple calculator which performs following operations:
Addition, Subtraction, Multiplication and Division

In [ ]:
a=int(input("Enter a"))
b=int(input("Enter b"))
print("Calculations")
print("Addition : "+str(a+b))
print("Subtraction : "+str(a-b))
print("Multiplication : "+str(a*b))
print("Divison : "+str(a/b))

Enter a4
Enter b2
Calculations
Addition : 6
Subtraction : 2
Multiplication : 8
Divison : 2.0