<a href="https://colab.research.google.com/github/manasohara1/Python-/blob/main/Implementation_of_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Getting input from the user
number=int(input("Enter a number"))#by the default what you input is string
print("The number is ",number)
print(type(number))
print(11,22,23,24,25)
print(11,22,23,24,25,sep='@', end='$')
print()
num1=15;num2=20
print(" The value of num1 is {} and num2 is {}".format(num1,num2))
print(" M.Sc CS has {0} and {1} courses".format('AI','Lab on Python'))
print(" M.Sc CS has {1} and {0} courses".format('AI','Lab on Python'))
print('Good Afternoon {ack}!! {msg}'.format(msg = 'Welcome to Lab on Python course',
ack ='Everyone'))
#Functions
#simple function
def hello():
  print("Hello everyone")
hello()
#function with return
def square(num):
  return num*num
print(square(5))
#function with default arguments
def add(num1,num2=5):
  return num1 + num2
print(add(10,20))
print(add(6))
#in case you don't know the number of arguments passed
def course(*coursenames):
  print("I am studying"+coursenames[1])
course("AI","Lab on Python","Microservices","Cloud Computing")
# key=value arguments
def coursen(cn1,cn2,cn3):
  print("I am studying" + cn3)
coursen(cn1="AI",cn2="Lab on Python",cn3="Microservices")

1. From Learn Python in 7 days book---page no. 142 to 160â€”read and solve all
examples. Write your observations

In [57]:
#1
# Getting input from the user
from typing import Match


number=int(input("Enter a number:"))#by the default what you input is string
print("The number is ",number)
print(type(number))
print(11,22,23,24,25)
print(11,22,23,24,25,sep="@", end="$")
print()
num1=15;num2=20
print('The value of num1 is {} and num2 is {}'.format(num1,num2))
print('M.Sc CS has {0} and {1} courses'.format('AI','Lab on Python'))
print('M.Sc CS has {1} and {0} courses'.format('AI','Lab on Python'))
print('Good Afternoon {ack}!! {msg}'.format(msg = 'Welcome to Lab on Python course',ack ='Everyone'))
#Functions
#simple function
def hello():
    print("Hello everyone")
hello()
#function with return
def square(num):
    return num*num
print(square(5))
#function with default arguments
def add(num1,num2=5):
    return num1*num2
print(add(10,20))
print(add(6))
#in case you don't know the number of arguments passed 
def course(*coursenames):
    print("I am studying "+coursenames[1])
course("AI","Lab on Python","Microservices","Cloud Computing")
#key=value arguments
def coursen(cn1 , cn2 ,cn3):
    print("I am studing "+cn3)
coursen(cn1="AI",cn2="Lab on Python",cn3="Microservices")

#1
# Calling a function
def helloWorld():
    """This is Hello World Program"""
    print("You are in Hello World")
helloWorld()
# Function with arguments
def func(passArgument):
    print(passArgument)
str="hello all"
func(str)
# Function with an argument and return type
def sum(a,b):
    c=a+b
    return c
x=10
y=50
print("Result of addition ",sum(x,y))

def info(name, age=50):
    print("Name", name)
    print("age", age)
info("John",age=28)
info("James")

# Function with variable length argument
def variable_argument( var1, *vari):
    print("Out-put is",var1)
    for var in vari:
        print(var)
variable_argument(60)
variable_argument(100,90,40,50,60)

# Key-value pair as variable length argument
def infocity(**var):
    print(var)
    for key, value in var.items():
        print ("%s == %s" %(key,value))
infocity(name="l4w", age = 20, city="Los Angeles")
infocity(name="John",age=45, city="London", sex="male", medals=0)

# Pass by reference versus pass by value
def pass_ref(list1):
    list1.extend([23,89])
    print("list inside the function: ",list1)
list1 = [12,67,90]
print("list before pass", list1)
pass_ref(list1)
print("list outside the function", list1)

#Lets look at another scenario:
def func(a):
    a=a+4
    print("Inside the function", a)
a= 10
func(a)
print ("Outside the function", a)

# Scope of variables
def func():
    a =12
print('''Inside the function the value of
a is acting as local variable''', a)
a= 10
func()
print('''Outside function the value of a is
acting as global variable''',a)
#Another situation
def func():
    a =12
print("a inside the function is the local variable",a)
func()
print("Trying to access the local variable outside the function.",a)
#Another situation
def func():
    global k
    k=k+7
    print("variable k is now global",k)
k=10
func()
print("Accessing the value of k outside the function",k)

Enter a number:3
The number is  3
<class 'int'>
11 22 23 24 25
11@22@23@24@25$
The value of num1 is 15 and num2 is 20
M.Sc CS has AI and Lab on Python courses
M.Sc CS has Lab on Python and AI courses
Good Afternoon Everyone!! Welcome to Lab on Python course
Hello everyone
25
200
30
I am studying Lab on Python
I am studing Microservices
You are in Hello World
hello all
Result of addition  60
Name John
age 28
Name James
age 50
Out-put is 60
Out-put is 100
90
40
50
60
{'name': 'l4w', 'age': 20, 'city': 'Los Angeles'}
name == l4w
age == 20
city == Los Angeles
{'name': 'John', 'age': 45, 'city': 'London', 'sex': 'male', 'medals': 0}
name == John
age == 45
city == London
sex == male
medals == 0
list before pass [12, 67, 90]
list inside the function:  [12, 67, 90, 23, 89]
list outside the function [12, 67, 90, 23, 89]
Inside the function 14
Outside the function 10
Inside the function the value of
a is acting as local variable 10
Outside function the value of a is
acting as global variable 10
a inside the function is the local variable 10
Trying to access the local variable outside the function. 10
variable k is now global 17
Accessing the value of k outside the function 17

2. From Think Python book----page no.17 to 26 solve examples. Also solve
exercise 3.3, 3.4 and 3.5 including all sub exercises.

In [58]:
# Q 2

#Function calls
print(type(32))
#Type conversion functions
print(int('32'))
#print(int('Hello'))
print(int(3.99999))
print(int(-2.3))
print(float(32))
#Math functions
import math
print(math)
signal_power=1
noise_power=10
ratio = signal_power / noise_power
decibels = 10 * math.log10(ratio)
radians = 0.7
height = math.sin(radians)
degrees = 45
radians = degrees / 360.0 * 2 * math.pi
math.sin(radians)
#Composition
#Adding new functions
def print_lyrics():
  print ("I'm a lumberjack, and I'm okay.")
 
print ("I sleep all night and I work all day.")
print_lyrics()

def repeat_lyrics():
 print_lyrics()
 print_lyrics()
repeat_lyrics()
#Definitions and uses
def print_lyrics():
 print("I'm a lumberjack, and I'm okay.")
 print("I sleep all night and I work all day.")

def repeat_lyrics():
 print_lyrics()
 print_lyrics()

repeat_lyrics()
#Parameters and arguments
def print_twice(bruce):
 print(bruce)
 print(bruce)
print_twice('Spam')
print_twice(17)
print_twice(math.pi)
print_twice('Spam '*4)
print_twice(math.cos(math.pi))

#Variables and parameters are local
def cat_twice(part1, part2):
  cat = part1 + part2
  print_twice(cat)
line1 = 'Bing tiddle '
line2 = 'tiddle bang.'
cat_twice(line1, line2)

math.sqrt(5)
result = print_twice('Bing')
#3.3
def right_justify(s):
    print(' ' * (70-len(s))+s)
    
right_justify('allen')

#3.4
def do_twice(f):
  f()
  f()
  
# Here's an example that uses do_twice to call a function named print_spam twice.

def print_spam():
  print('spam')
  
do_twice(print_spam)

print("\n")

# 2 Modify do_twice so that it takes two arguments, a function object and a value, and calls the function twice, passing the value as an argument.

def do_twice(f, num):
  f(num)
  f(num)
  
#3 Write a more general version of print_spam, called print_twice, that takes a string as a parameter and prints it twice.

def print_twice(spam):
  print(spam)
  print(spam)

  # 4 Use the modified version of do_twice to call print_twice twice, passing 'spam' as an argument.

do_twice(print_twice, 'spam')

print("\n")

#5 Define a new function called do_four that takes a function object and a value and calls the function four times, passing the value as a parameter. There should be only two statements in the body of this function, not four.

def do_four(f, num):
  print(do_twice(f, num))
  print(do_twice(f, num))
  
do_four(print_twice, 'spam')

#3.5
# row:   +----+----+
half_row = ('+' + ('-' * 4))
row = half_row * 2

# bar lines:    |    |    |     (repeated for 4 lines)
def column_4times(column):
    print(column)
    print(column)
    print(column)
    print(column)  
    
half_column = ('|' + ' ' * 4)
column = (half_column * 2 + '|')

print(row + '+')
print(column_4times(column))
print(row + '+')
print(column_4times(column))
print(row + '+')

<class 'int'>
32
3
-2
32.0
<module 'math' (built-in)>
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I'm a lumberjack, and I'm okay.
I'm a lumberjack, and I'm okay.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
Spam
Spam
17
17
3.141592653589793
3.141592653589793
Spam Spam Spam Spam
Spam Spam Spam Spam
-1.0
-1.0
Bing tiddle tiddle bang.
Bing tiddle tiddle bang.
Bing
Bing
                                                                 allen
spam
spam


spam
spam
spam
spam


spam
spam
spam
spam
None
spam
spam
spam
spam
None
+----+----+
|    |    |
|    |    |
|    |    |
|    |    |
None
+----+----+
|    |    |
|    |    |
|    |    |
|    |    |
None
+----+----+

3. Write user defined function to display LCM of a given number

In [ ]:
def calc_lcm(x, y):

   
   if x > y: #num1 is greater than num2
       greater = x #num1 as a greater
   else:
       greater = y #num2 is greater

   while(True):
       if((greater % x == 0) and (greater % y == 0)): #if selected num is =greater assign to lcm
           lcm = greater
           break
       greater += 1 #increment greater

   return lcm

num1 = 10
num2 = 2

print("The L.C.M. is", calc_lcm(num1, num2))

The L.C.M. is 10

4. Write user defined function to convert and display Decimal to Binary

In [ ]:
def DecimalToBinary(num):
     
    if num >= 1:
        DecimalToBinary(num // 2)
    print(num % 2, end = '')
dec_val = 73
DecimalToBinary(dec_val)

01001001

5. Write user defined function to convert and display Binary to Decimal

In [ ]:
def binaryToDecimal(n):
    num = n;
    dec_value = 0;
    base = 1;
    temp = num;
    while(temp):
        last_digit = temp % 10;
        temp = int(temp / 10);
        dec_value += last_digit * base;
        base = base * 2;
    return dec_value;
num = 10101001;
print(binaryToDecimal(num));

169

6. Write user defined function to convert and display Decimal to Octal

In [54]:
def decToOctal(n):
 
   
    octalNum = [0] * 100
 
    
    i = 0
    while (n != 0):
 
        
        octalNum[i] = n % 8
        n = int(n / 8)
        i += 1
 
    
    for j in range(i - 1, -1, -1):
        print(octalNum[j], end="")
 
 

n = 33
 

decToOctal(n)

41

7. Write user defined function to convert and display Decimal to Hexadecimal

In [56]:
def decToHexa(n):
 
    
    hexaDeciNum = ['0'] * 100
 
    
    i = 0
    while(n != 0):
 
        
        temp = 0
 
        
        temp = n % 16
 
       
        if(temp < 10):
            hexaDeciNum[i] = chr(temp + 48)
            i = i + 1
        else:
            hexaDeciNum[i] = chr(temp + 55)
            i = i + 1
        n = int(n / 16)
 
   
    j = i - 1
    while(j >= 0):
        print((hexaDeciNum[j]), end="")
        j = j - 1
 
 

n = 2545
decToHexa(n)

9F1

8. Write user defined function to display factorial of a number

In [ ]:
def fact(num):
  fact = 1
  for i in range(1, number + 1):
    fact = fact * i
  print("The factorial of %d  = %d" %(number, fact))
number = int(input(" Please enter any Number to find factorial : "))
fact(number)

 Please enter any Number to find factorial : 5
The factorial of 5  = 120

9. Write recursive function to display factorial of a number

In [ ]:
def factorial(num):
    if((num == 0) or (num == 1)):
        return 1
    else:
        return num * factorial(num - 1)


number = int(input(" Please enter any Number to find factorial : "))

fact = factorial(number)
print("The factorial of %d  = %d" %(number, fact))

 Please enter any Number to find factorial : 10
The factorial of 10  = 3628800

10. Write user defined function to implement bubble sort.

In [52]:

def bubble_sort():
  a = []
  number = int(input("Please Enter the Total Number of Elements : "))
  for i in range(number):
    value = int(input("Please enter the %d Element of List1 : " %i))
    a.append(value)
  for i in range(number -1):
    for j in range(number - i - 1):
        if(a[j] > a[j + 1]):
             temp = a[j]
             a[j] = a[j + 1]
             a[j + 1] = temp

  print("The Sorted List in Ascending Order : ", a)
bubble_sort()

Please Enter the Total Number of Elements : 3
Please enter the 0 Element of List1 : 13
Please enter the 1 Element of List1 : 77
Please enter the 2 Element of List1 : 90
The Sorted List in Ascending Order :  [13, 77, 90]

12. Write user defined function to display reverse of a number

In [36]:
def rev_number(Number):
  Reverse = 0
  while(Number > 0):
    Reminder = Number %10
    Reverse = (Reverse *10) + Reminder
    Number = Number //10
  print("\n Reverse of entered number is = %d" %Reverse)
Number = int(input("Please Enter any Number: "))
rev_number(Number)

Please Enter any Number: 89

 Reverse of entered number is = 98

11. Write user defined function to display palindrome of a number

In [43]:
def pallindrome_number(Number):
  original_number=Number
  Reverse = 0
  while(Number > 0):
    Reminder = Number %10
    Reverse = (Reverse *10) + Reminder
    Number = Number //10
  print("\n Reverse of entered number is = %d" %Reverse)
  if(Reverse==original_number):
    print("Pallindrome number !!")
  else:
    print("Not a pallindrome number :<( ")
Number = int(input("Please Enter any Number: "))
rev_number(Number)

Please Enter any Number: 11

 Reverse of entered number is = 11
Pallindrome number !!

13. Write function which can print a dictionary where the keys are numbers
between 1 and 30 (both included) and the values are square of keys.

In [49]:
def dict_cal():
  d=dict()
  for x in range(1,31):
    d[x]=x**2
  print(d,sep="\n\n")
dict_cal()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900}